* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  scroll-snap-type: y mandatory;
}
main {
  background: rgb(34, 34, 36);
  height: 100%;
  width: 100%;
  section {
    height: 100vh;
    display: grid;
    place-items: center;
    scroll-snap-align: center;

    a {
      text-decoration: none;
      color: white;
    }
  }

  & > :nth-child(1) {
    a {
      background: radial-gradient(
        circle at 0 100%,
        rgba(255, 0, 0, 0.8) 0%,
        rgba(255, 0, 0, 0.8) 100%
      );
      font-weight: bold;
      padding: 15px 30px;
      transition: 1s ease;
      &:hover {
        transition: 1s ease;
        background: radial-gradient(
          circle at var(--x) var(--y),
          rgb(255, 20, 20) 10%,
          rgba(255, 0, 0, 0.7) 100%
        );
      }
    }
  }
  & > :nth-child(2) {
    a {
      background: rgb(63, 63, 255);
      position: relative;
      font-weight: bold;
      padding: 15px 30px;
      span {
        z-index: 2;
        position: relative;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: 0;
        transform-origin: left;
        transform: scaleX(0);
      }
      &::before {
        background: yellow;
        transition: 0.5s ease;
      }

      &::after {
        background: red;
        transition: 0.3s ease;
      }
      &:hover::before {
        transform: scaleX(1);
        transition: 0.3s ease;
      }
      &:hover::after {
        transform: scaleX(1);
        transition: 0.5s ease;
      }
    }
  }
  & > :nth-child(3) {
    a {
      font-weight: bold;
      padding: 15px 30px;
      background: purple;
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.356);
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        background: rgba(255, 255, 255, 0.1);
        top: 0%;
        left: 0%;
      }
      span {
        display: none;
        position: absolute;
        &:nth-child(1) {
          height: 2px;
          width: 100%;
          top: 0%;
          left: 0%;
          background: linear-gradient(to right, purple, white);
        }
        &:nth-child(2) {
          height: 100%;
          width: 2px;
          top: 0%;
          right: 0%;
          background: linear-gradient(to bottom, purple, white);
        }
        &:nth-child(3) {
          height: 2px;
          width: 100%;
          bottom: 0%;
          left: 0%;
          background: linear-gradient(to left, purple, white);
        }
        &:nth-child(4) {
          height: 100%;
          width: 2px;
          top: 0%;
          left: 0%;
          background: linear-gradient(to top, purple, white);
        }
      }
      &:hover {
        span {
          display: initial;
          &:nth-child(1) {
            animation: animation1 1s linear infinite;
          }
          &:nth-child(2) {
            animation: animation2 1s linear infinite;
            animation-delay: 0.5s;
          }
          &:nth-child(3) {
            animation: animation3 1s linear infinite;
          }
          &:nth-child(4) {
            animation: animation4 1s linear infinite;
            animation-delay: 0.5s;
          }
        }
      }
      @keyframes animation1 {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
      @keyframes animation2 {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(100%);
        }
      }
      @keyframes animation3 {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @keyframes animation4 {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
  }
  & > :nth-child(4) {
    a {
      background: rgb(63, 63, 255);
      position: relative;
      font-weight: bold;
      padding: 15px 30px;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: yellowgreen;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        clip-path: circle(0%);
        transition: 0.3s ease;
        transition-delay: 0.15s;
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: red;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        clip-path: circle(0%);
        transition: 0.3s ease;
        opacity: 0;
      }
      span {
        position: relative;
        z-index: 1;
      }

      &:hover {
        &::before {
          clip-path: circle(100%);
          transition: 0.3s ease;
          background: yellow;
          opacity: 1;
        }
        &::after {
          clip-path: circle(100%);
          transition: 0.3s ease;
          transition-delay: 0.15s;
          opacity: 1;
        }
      }
    }
  }
}
